component_properties {
  font-size: 30px;
  font-weight: bolder;
}

property {
  font-size: 22px;
  font-weight: bold;
}

type {
  font-size: 15px;
  font-weight: lighter;
  color: #4f5963;
  margin-left: 2em;
}

description {
  font-size: 18px;
}

default-value {
  font-size: 20px;
}

.components {
  margin-left: 2em;
}